<%= f.field_container :question do %>
  <%= f.label :question, t(:question, :scope => 'activerecord.attributes.spree/user_survey_question') %>
  <%= f.text_field :question %>
  <%= f.error_message_on :question %>
<% end %>
