<%= csrf_meta_tags %>

<div data-hook="admin_user_survey_question_new_header">
  <h2><%= t('Editing User Survey Question')%></h2>
  <%= render :partial => 'spree/shared/error_messages', :locals => {:target => @question } %>
</div>

<div data-hook="admin_user_survey_question_edit_form">
  <div id="user_survey_question-form-wrapper">
    <%= form_for [:admin, @question] do |f| %>
      <%= render :partial => 'form', :locals => { :f => f } %>
      <p class="form-buttons">
      <%= button "update question" %>
      </p>
    <% end %>
  </div>
</div>

</br>

<%= render :partial => 'spree/admin/user_surveys/questions/options/table', :locals => { :survey => @survey, :question => @question, :options => @question_options } %> 
