<% content_for :page_title do %>
  <%= t(:listing_questions_for_survey)  %>
  <%= @survey.id %>
<% end %>

<table> 
  <thead>
    <tr>
      <th><%= t(:created_at, :scope => 'activerecord.attributes.spree/user_survey_question') %></th>
      <th><%= t(:id, :scope => 'activerecord.attributes.spree/user_survey_question') %></th>
      <th><%= t(:question_type, :scope => 'activerecord.attributes.spree/user_survey_question') %></th>
      <th><%= t(:question, :scope => 'activerecord.attributes.spree/user_survey_question') %></th>
      <th data-hook="admin_user_survey_index_header_actions"></th>
    </tr>
  </thead>
  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.created_at.to_date %></td>
        <td><%= link_to question.id, admin_user_survey_question_url(@survey,question) %></td>
        <td><%= question.question_type %></td>
        <td><%= question.question %> </td>
        <td class="actions" data-hook="admin_user_survey_question_index_row_actions">
          <%= link_to_edit_url edit_admin_user_survey_question_path(@survey,question) %>
          &nbsp;
          <%= link_to_delete question, :url => admin_user_survey_question_path(@survey,question) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
