<h1><%= t(:survey) %></h1>

<% @answers.each do |answer| %>
  <div>
    <%= form_for answer, :url => 'survey#create' do |f| %>
      <h2><%= answer.question %></h2></br>
    <% for option in answer.options %>
      <%= fields_for "answer[option_attributes][]", option do |option_form|%>
        <p>
        <%= option.answer %>
        <%= option_form.check_box :checked  %>
        </p>
      <% end %>  
    <% end %>
    <%= f.submit %>
  <% end %>
  </div>
<%end %>
