<%= f.field_container :user_survey do %>
  <%= f.label :title, t(:title, :scope => 'activerecord.attributes.spree/user_survey') %><br />
  <%= f.text_field :title %>
  <%= f.error_message_on :title %>
<% end %>
