<%= csrf_meta_tags %>

<div data-hook="admin_user_survey_edit_header">
  <h2>Editing User Survey</h2>
  <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @user_survey } %>
</div>

<div data-hook="admin_user_survey_edit_form">
  <div id="user_survey-form-wrapper">
    <%= form_for [:admin, @user_survey] do |f| %>
      <%= render :partial => 'form', :locals => { :f => f } %>
      <p class="form-buttons">
        <%= button "update title" %>
      </p>
    <% end %>
  </div>
</div>

</br>

<table>
  <thead>
    <tr>
      <th><%= t(:created_at, :scope => 'activerecord.attributes.spree/user_survey_question') %></th>
      <th><%= t(:id, :scope => 'activerecord.attributes.spree/user_survey_question') %></th>
      <th><%= t(:question_type, :scope => 'activerecord.attributes.spree/user_survey_question') %></th>
      <th><%= t(:question, :scope => 'activerecord.attributes.spree/user_survey_question') %></th>
      <th data-hook="admin_user_survey_index_header_actions"></th>
    </tr>
  </thead>
  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.created_at.to_date %></td>
        <td><%= link_to question.id, admin_user_survey_question_url(@user_survey, question)%></td>
        <td><%= question.question_type %></td>
        <td><%= question.question %> </td>
        <td class="actions" data-hook="admin_user_survey_question_row_actions">
          <%= link_to_edit question, :class => 'edit' %>
          &nbsp;
          <%= link_to_delete question  %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

