<% content_for :page_title do %>
  <%= t(:listing_user_surveys) %>
<% end %>

<% content_for :page_actions do %>
  <li id="new_user_survey_link">
    <%= button_link_to t(:new_user_survey), new_object_url, { :icon => 'icon-plus', :id => 'admin_new_user_survey' } %>
  </li>
<% end %>

<table>
  <thead>
    <tr>
      <th><%= sort_link @search, :created_at, t(:created_at, :scope => 'activerecord.attributes.spree/user_survey')%></th>
      <th><%= sort_link @search, :id, t(:id, :scope => 'activerecord.attributes.spree/user_survey')%></th>
      <th><%= sort_link @search, :title, t(:title, :scope => 'activerecord.attributes.spree/user_survey')%></th>
      <th data-hook="admin_user_survey_index_header_actions"></th>
    </tr>
  </thead>
  <tbody>
    <% @user_survey.each do |survey| %>
      <tr>
        <td><%= survey.created_at.to_date %></td>
        <td><%= link_to survey.id, edit_object_url(survey) %></td>
        <td><%= survey.title %></td>
        <td class="actions" data-hook="admin_user_survey_index_row_actions">
          <%= link_to_edit survey, :class => 'edit' %>
          &nbsp;
          <%= link_to_delete survey %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @user_survey %>
