<%= csrf_meta_tags %>

<div data-hook="admin_user_survey_new_header">
  <h2>Creating User Survey</h2>
  <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @user_survey } %>
</div>

<div data-hook="admin_user_survey_new_form">
  <div id="user_survey-form-wrapper">
    <%= form_for [:admin, @user_survey] do |f| %>
      <%= render :partial => 'form', :locals => { :f => f } %>
      <p class="form-buttons">
        <%= button "create" %> <%= link_to "cancel", collection_url %>
      </p>
    <% end %>
  </div>
</div>
