<table>
  <thead>
    <th><%= t(:created_at, :scope => 'activerecord.attributes.spree/user_survey_question_option') %></th>
    <th><%= t(:id, :scope => 'activerecord.attributes.spree/user_survey_question_option') %></th>
    <th><%= t(:option_name, :scope => 'activerecord.attributes.spree/user_survey_question_option') %></th>
    <th data-hook="admin_user_survey_question_option_header_actions"></th>
  </thead>
  <tbody>
    <% if options %>
    <% options.each do |option| %>  
      <tr>
        <td><%= option.created_at.to_date %></td>
        <td><%= link_to option.id, admin_user_survey_question_option_url(survey,question,option) %></td>
        <td><%= option.option_name %></td>
        <td class="actions" data-hook="admin_user_survey_quesiton_option_row_actions">
          

        </td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
